* {
  padding: 0;
  margin: 0;
}
body {
  position: relative;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgb(137, 137, 137);
  border-radius: 140px;
}
.kattadiv {
  width: 1910px;
  position: relative;
  margin: auto;
}
.navbar1 {
  width: 1400px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: static;
  margin-left: 20px;
  margin-top: 20px;
  top: 20px;
  list-style: none;
  border: 0.1px solid black;
  background-color: white;
  margin: auto;
}
.rasm1 {
  width: 100px;
}
.rasm2 {
  display: none;
}
.rasm3 {
  width: 30px;
}
.h10 {
  color: var(--white, #787474);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 107.7%;
  width: 300px;
}
.divcha1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-left: 10px;
  text-decoration: none;
  cursor: pointer;
}
.h11 {
  --b: 3px;
  --s: 0.45em;
  --color: #373b44;
  padding: calc(0.5em + var(--s)) calc(0.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background: conic-gradient(
      from 90deg at var(--b) var(--b),
      #0000 90deg,
      var(--color) 0
    )
    var(--_p) var(--_p) / calc(100% - var(--b) - 2 * var(--_p))
    calc(100% - var(--b) - 2 * var(--_p));
  transition: 0.3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: 0.6em;
  font-size: 16px;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  color: var(--white, #000000);
  font-family: monospace;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 145%;
  width: 220px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  text-decoration: none;
}
.h11:hover,
.h11:focus-visible {
  --_p: 0px;
  outline-offset: 0.05em;
  outline-color: var(--color);
}
.h11:active {
  background: var(--color);
  color: #fff;
}
.raasm1 {
  margin-left: 30px;
}
.hh11 {
  gap: 40px;
  margin-right: 10px;
}
.flexs2 {
  display: flex;
  justify-content: center;
}
.navbar2 {
  width: 260px;
  height: 500px;
  margin-left: 255px;
  margin-top: 40px;
  border: 0.1px solid black;
  display: grid;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
  position: absolute;
  z-index: 10;
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 140px;
  }
}
.ul1 {
  list-style: none;
  display: grid;
  align-items: center;
  justify-self: center;
  text-align: center;
  color: #161515;
  font-family: monospace;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  gap: 30px;
  line-height: normal;
}
.ul3 {
  width: 200px;
  list-style: none;
  display: none;
  align-items: center;
  justify-self: center;
  text-align: center;
  color: #161515;
  font-family: monospace;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  gap: 30px;
  line-height: normal;
  list-style: none;
}
.ul31 {
  width: 200px;
  list-style: none;
  display: none;
  align-items: center;
  justify-self: center;
  text-align: center;
  color: #161515;
  font-family: monospace;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  gap: 30px;
  line-height: normal;
  list-style: none;
}
.ul32 {
  width: 200px;
  list-style: none;
  display: none;
  align-items: center;
  justify-self: center;
  text-align: center;
  color: #161515;
  font-family: monospace;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  gap: 30px;
  line-height: normal;
  list-style: none;
}
.ul33 {
  width: 200px;
  list-style: none;
  display: none;
  align-items: center;
  justify-self: center;
  text-align: center;
  color: #161515;
  font-family: monospace;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  gap: 30px;
  line-height: normal;
  list-style: none;
}
.ul34 {
  width: 200px;
  list-style: none;
  display: none;
  align-items: center;
  justify-self: center;
  text-align: center;
  color: #161515;
  font-family: monospace;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  gap: 30px;
  line-height: normal;
  list-style: none;
}
.ul35 {
  width: 200px;
  list-style: none;
  display: none;
  align-items: center;
  justify-self: center;
  text-align: center;
  color: #161515;
  font-family: monospace;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  gap: 30px;
  line-height: normal;
  list-style: none;
}
.li11 {
  border: 0.1px solid black;
  border-radius: 10px;
  padding: 0px 10px;
  text-align: center;
  width: 180px;
  text-decoration: none;
  color: black;
}
.grid201 {
  display: grid;
  gap: 30px;
  border-radius: 10px;
  margin-top: 20px;
}
.grid202 {
  display: grid;
  gap: 30px;
  border-radius: 10px;
}
.grid203 {
  display: grid;
  gap: 30px;
  border-radius: 10px;
}
.grid204 {
  display: grid;
  gap: 30px;
  border-radius: 10px;
}
.grid205 {
  display: grid;
  gap: 30px;
  border-radius: 10px;
}
.grid206 {
  display: grid;
  gap: 30px;
  border-radius: 10px;
}
:hover.grid201 {
  border: 0.1px solid black;
  .ul3 {
    display: grid;
  }
}
:hover.grid202 {
  border: 0.1px solid black;
  .ul31 {
    display: grid;
  }
}
:hover.grid203 {
  border: 0.1px solid black;
  .ul32 {
    display: grid;
  }
}
:hover.grid204 {
  border: 0.1px solid black;
  .ul33 {
    display: grid;
  }
}
:hover.grid205 {
  border: 0.1px solid black;
  .ul34 {
    display: grid;
  }
}
:hover.grid206 {
  border: 0.1px solid black;
  .ul35 {
    display: grid;
  }
}
.li1 {
  width: 200px;
  border: 0.1px solid black;
  border-radius: 10px;
  cursor: pointer;
}
.li2 {
  cursor: pointer;
  width: 200px;
  border-radius: 10px;
  border: 0.1px solid black;
  text-decoration: none;
  color: black;
}
.li3 {
  cursor: pointer;
  width: 200px;
  border-radius: 10px;
  border: 0.1px solid black;
}
.li4 {
  cursor: pointer;
  width: 200px;
  border-radius: 10px;
  border: 0.1px solid black;
}
.li5 {
  cursor: pointer;
  width: 200px;
  border-radius: 10px;
  border: 0.1px solid black;
}
.li6 {
  border-radius: 10px;
  cursor: pointer;
  width: 200px;
  border: 0.1px solid black;
}
.li7 {
  border-radius: 10px;
  cursor: pointer;
  width: 200px;
  border: 0.1px solid black;
}
.li8 {
  border-radius: 10px;
  width: 200px;
  cursor: pointer;
  margin-bottom: 20px;
  border: 0.1px solid black;
  color: black;
  text-decoration: none;
}
.div1 {
  width: 1910px;
  padding: 0px 0px 30px 0px;
  display: flex;
  min-height: 510px;
  background-color: white;
}
.h12 {
  color: var(--grey, #000000);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 42px;
  margin-top: 200px;
  margin-left: 390px;
  width: 470px;
  font-style: normal;
  font-weight: 300;
  line-height: 145%;
}
.divcha2 {
  width: 250px;
  height: 600px;
  margin-top: 20px;
  margin-left: 800px;
  display: grid;
  align-items: center;
  border: 0.1px solid rgb(0, 0, 0);
  justify-content: center;
}
.kichikdiv1 {
  width: 200px;
  height: 170px;
  border: 0.1px solid rgb(0, 0, 0);
  border-radius: 20px;
  display: grid;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(6px);
}
.kichikdiv2 {
  width: 200px;
  height: 170px;
  border: 2px solid black;
  border-radius: 20px;
  display: grid;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(6px);
}
.kichikdiv3 {
  width: 200px;
  height: 170px;
  border-radius: 20px;
  border: 2px solid black;
  display: grid;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(6px);
}
.rasm1 {
  margin: auto;
}
.rasm111 {
  width: 60px;
}
.h13 {
  color: var(--grey, #2c2929);
  font-family: monospace;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  font-weight: 300;
  line-height: 145%;
}
.div2 {
  width: 1910px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 120px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(145, 197, 213);
}
.video1 {
  width: 700px;
  height: 400px;
  border-radius: 40px;
}
.h14 {
  color: var(--grey, #ffffff);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  margin-top: 20px;
  line-height: 145%;
  width: 580px;
  text-align: center;
  margin: auto;
}
.h15 {
  color: var(--grey, #161515);
  font-family: monospace;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 145%;
  text-align: center;
  width: 600px;
  backdrop-filter: blur(5px);
}
grid {
  margin-right: 30px;
}
.div31 {
  width: 1910px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  justify-content: center;
  background-color: white;
}
.karta1 {
  width: 900px;
  height: 400px;
  border: 2px solid rgb(166, 166, 166);
  margin-top: 20px;
}
.h16 {
  color: var(--grey, #000000);
  font-family: monospace;
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  line-height: 145%;
  text-align: center;
}
.fleks {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}
.manzil1 {
  width: 700px;
  height: 400px;
  border: 1px solid rgb(101, 101, 101);
  display: grid;
  align-items: center;
  justify-content: center;
  margin: auto;
  backdrop-filter: blur(5px);
}
.h17 {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
  color: var(--grey, #3f3d3d);
  font-family: monospace;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 145%;
  width: 600px;
  border: 2px solid rgb(166, 166, 166);
  cursor: pointer;
  height: 55px;
  transition-duration: 0.5s;
  background-color: white;
}
.h171 {
  height: 100px;
}
.rasm4 {
  margin-left: 20px;
}

.rasm4 {
  width: 30px;
}
.div3 {
  width: 1910px;
  height: 600px;
  display: flex;
  align-items: center;
  background-color: white;
  justify-content: space-around;
}
.divcha3 {
  width: 200px;
  height: 260px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 20px;
  display: grid;
  align-items: center;
  transition-duration: 0.5s;
  justify-content: center;
  backdrop-filter: blur(10px);
}
:hover.divcha3 {
  background-color: rgb(237, 154, 52);
  transition-duration: 0.5s;
}
.grids {
  width: 320px;
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
:hover.divcha31 {
  background-color: rgb(57, 203, 74);
  transition-duration: 0.5s;
}
:hover.divcha32 {
  background-color: rgb(40, 183, 226);
  transition-duration: 0.5s;
}
:hover.divcha33 {
  background-color: rgb(237, 52, 52);
  transition-duration: 0.5s;
}
.h19 {
  color: var(--grey, #000000);
  font-family: monospace;
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  line-height: 145%;
  text-align: center;
  backdrop-filter: blur(5px);
  width: 540px;
  border-radius: 10px;
  border: 2px solid rgb(255, 255, 255);
}
.h18 {
  color: var(--white, #000000);
  font-family: monospace;
  font-size: 25px;
  font-style: normal;
  font-weight: 300;
  line-height: 145%;
  text-align: center;
}
.svg1 {
  margin: auto;
}
.div4 {
  width: 1910px;
  height: 660px;
  display: flex;
  justify-content: space-around;
  background-color: rgb(145, 197, 213);
}

.divcha4 {
  width: 400px;
  height: 300px;
  border: 0.1px solid white;
  display: grid;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  backdrop-filter: blur(5px);
  border-radius: 20px;
}
.kichikdiv4 {
  width: 300px;
  height: 100px;
  border: 0.1px solid rgb(166, 166, 166);
  border-radius: 30px;
  background-color: white;
  display: grid;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
  cursor: pointer;
  text-decoration: none;
  color: var(--white, #838383);
  font-family: monospace;
  font-size: 25px;
  font-style: normal;
  font-weight: 300;
  line-height: 145%;
  text-align: center;
}
:hover.kichikdiv4 {
  transition-duration: 0.5s;
  background-color: #b7b7b7;
  color: white;
}

.dch4 {
  margin: auto;
}
.grid1 {
  display: grid;
  align-items: center;
  justify-content: center;
}
.h121 {
  color: var(--white, #ffffff);
  font-family: monospace;
  font-size: 30px;
  font-style: normal;
  font-weight: bold;
  line-height: 145%;
  text-align: center;
}
.div5 {
  width: 1910px;
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  gap: 40px;
}
.rasm5 {
  width: 70px;
  margin-left: 20px;
  border-radius: 50%;
}
.divcha5 {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 0.1fr 0.1fr 0.1fr;
  gap: 20px;
}
.kichikdiv5 {
  width: 600px;
  height: 100px;
  border: 0.1px solid rgb(166, 166, 166);
  display: flex;
  align-items: center;
  border-radius: 20px;
  background-color: white;
  text-decoration: none;
  transition-duration: 0.5s;
}
:hover.kichikdiv5 {
  transition-duration: 0.5s;
  background-color: #656565;
  .h122 {
    color: white;
  }
}

.h122 {
  color: var(--white, #5b5b5b);
  font-family: monospace;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 145%;
  text-align: center;
  margin-left: 70px;
}
.h123 {
  color: var(--white, #000000);
  font-family: monospace;
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  line-height: 145%;
  text-align: center;
}
.grid2 {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 200px;
}
.svg2 {
  margin-left: 100px;
  border: 2px solid white;
  border-radius: 20px;
  padding: 10px;
  backdrop-filter: blur(10px);
  display: none;
}
.grs{
  margin-right: 40px;
}
.grs1{
  margin-left: 40px;
}
.div6 {
  width: 1910px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(145, 197, 213);
}
.divcha6 {
  width: 300px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.1px solid rgb(166, 166, 166);
  border-radius: 30px;
  background-color: white;
  text-decoration: none;
  gap: 20px;
  color: var(--white, #828282);
  font-family: monospace;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: 145%;
  transition-duration: 0.5s;
  text-align: center;
}
:hover.divcha6 {
  color: rgb(173, 190, 60);
  transition-duration: 0.5s;
}
.rasm6 {
  width: 50px;
}
.group1 {
  width: 1400px;
  height: 400px;
  background-color: rgb(214, 214, 214);
  display: flex;
  align-items: center;
  justify-content: center;
}
.h125 {
  color: var(--white, #ffffff);
  font-family: monospace;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: 145%;
  text-align: center;
  width: 400px;
}
.fleks1 {
  width: 500px;
  border-radius: 20px;
  height: 400px;
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: #cfcfcf;
  border: 2px solid black;
}
.divcha100 {
  width: 420px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(166, 166, 166);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 20px;
  border-radius: 20px 20px 60px 20px;
  margin-top: 30px;
}
.ul2 {
  margin-top: 40px;
  list-style: none;
  color: var(--white, #000000);
  font-family: monospace;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 145%;
  display: grid;
  align-items: center;
  background-color: white;
  justify-content: center;
  width: 500px;
  text-align: center;
  gap: 10px;
  padding: 30px 0px 30px 0px;
  border-radius: 20px;
}
.divcha7 {
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 30px;
}
.div7 {
  width: 1910px;
  height: 1300px;
  padding: 0px 0px 30px 0px;
  background-color: rgb(145, 197, 213);
  display: grid;
  align-items: center;
  justify-content: center;
}
.divcha8 {
  width: 1700px;
  height: 200px;
  margin-top: 40px;
  border: 1px solid rgb(166, 166, 166);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.h124 {
  color: var(--white, #3d3939);
  font-family: monospace;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 145%;
}
.h0124 {
  width: 280px;
  border: 1px solid rgb(166, 166, 166);
  border-radius: 20px;
  padding: 10px;
  margin-top: 10px;
  background-color: white;
}
.grid3 {
  display: grid;
  align-items: center;
  justify-content: center;
}
.rasm7 {
  width: 200px;
}
.li10 {
  border: 2px solid rgb(0, 0, 0);
  width: 300px;
  backdrop-filter: blur(10px);
  text-decoration: none;
  color: black;
  --b: 3px;
  --s: 0.45em;
  --color: #373b44;

  padding: calc(0.5em + var(--s)) calc(0.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background: conic-gradient(
      from 90deg at var(--b) var(--b),
      #0000 90deg,
      var(--color) 0
    )
    var(--_p) var(--_p) / calc(100% - var(--b) - 2 * var(--_p))
    calc(100% - var(--b) - 2 * var(--_p));
  transition: 0.3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: 0.6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.li10:hover,
.li10:focus-visible {
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: 0.05em;
}

.li10:active {
  background: var(--color);
  color: #fff;
}
.li9 {
  border: 2px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  backdrop-filter: blur(10px);
  width: 300px;
  color: black;
  --b: 3px;
  --s: 0.45em;
  --color: #373b44;

  padding: calc(0.5em + var(--s)) calc(0.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background: conic-gradient(
      from 90deg at var(--b) var(--b),
      #0000 90deg,
      var(--color) 0
    )
    var(--_p) var(--_p) / calc(100% - var(--b) - 2 * var(--_p))
    calc(100% - var(--b) - 2 * var(--_p));
  transition: 0.3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: 0.6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.li9:hover,
.li9:focus-visible {
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: 0.05em;
}

.ism1 {
  color: var(--white, #ffffff);
  font-family: monospace;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 145%;
}
.div8 {
  width: 1910px;
  height: 500px;
  display: grid;
  margin-top: 40px;
  align-items: center;
  justify-content: center;
}
.form1 {
  width: 1200px;
  height: 400px;
  border: 1px solid rgb(125, 125, 125);
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-image: url(./img/xxz.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.grid4 {
  width: 300px;
  height: 370px;
  border: 1px solid rgb(125, 125, 125);
  border-radius: 20px 20px 20px 20px;
  display: grid;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
}
.ism {
  padding: 10px 20px;
  border-radius: 10px 10px 10px 10px;
  border: 1px solid rgb(125, 125, 125);
  font-family: monospace;
}
.tanlash {
  width: 300px;
  padding: 10px 20px;
  border-radius: 10px 10px 10px 10px;
  border: 1px solid rgb(125, 125, 125);
  font-family: monospace;
}
.grid5 {
  width: 400px;
  height: 370px;
  border: 1px solid rgb(125, 125, 125);
  border-radius: 20px 20px 20px 20px;
  display: grid;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
}
.tugma1 {
  width: 300px;
  border: 1px solid rgb(72, 72, 72);
  padding: 10px 20px;
  border-radius: 10px 10px 10px 10px;
  font-family: monospace;
}
.div01 {
  width: 1910px;
  padding: 0px 0px 30px 0px;
  display: flex;
  background-color: white;
}
.d01 {
  display: grid;
}
.divcha9 {
  width: 1000px;
  border: 2px solid black;
  padding: 30px;
  margin-left: 340px;
  margin-top: 20px;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.h126 {
  color: var(--white, #424242);
  font-family: monospace;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: 145%;
}
.h127 {
  color: var(--white, #000000);
  font-family: monospace;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 145%;
}
.divcha10 {
  width: 1000px;
  margin-top: 20px;
  margin-left: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 20px;
}
.kichikdiv6 {
  width: 300px;
  height: 500px;
  border: 2px solid rgb(0, 0, 0);
  display: grid;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
  padding: 10px;
  transition-duration: 0.5s;
  border-radius: 20px;
}
:hover.kichikdiv6 {
  transition-duration: 0.5s;
  border: 2px solid rgb(255, 255, 255);
  .rasm11 {
    transition-duration: 0.5s;
    box-shadow: 0px 0px 10px 10px rgb(255, 255, 255);
  }
  .h128 {
    transition-duration: 0.5s;
    color: black;
  }
  .h129 {
    transition-duration: 0.5s;
    color: black;
  }
  .h130 {
    transition-duration: 0.5s;
    color: black;
  }
}
.rasm11 {
  width: 200px;
  height: 250px;
  margin: auto;
  border: 4px solid black;
  border-radius: 20px;
  transition-duration: 0.5s;
}
.h128 {
  color: var(--white, #000000);
  font-family: monospace;
  font-size: 20px;
  font-style: normal;
  transition-duration: 0.5s;
  font-weight: 300;
  line-height: 145%;
  text-align: center;
}
.h129 {
  color: var(--white, #000000);
  font-family: monospace;
  font-size: 15px;
  font-style: normal;
  transition-duration: 0.5s;
  font-weight: 300;
  line-height: 145%;
  margin-top: 10px;
  text-align: center;
}
.h130 {
  color: var(--white, #000000);
  font-family: monospace;
  font-size: 15px;
  font-style: normal;
  transition-duration: 0.5s;
  font-weight: 300;
  line-height: 145%;
  text-align: center;
  width: 240px;
  margin: auto;
  margin-top: 10px;
}
.h013 {
  width: 250px;
}
.divcha11 {
  width: 1000px;
  border: 2px solid black;
  padding: 10px;
  border-radius: 20px;
  margin-top: 20px;
  margin-left: 340px;
  backdrop-filter: blur(10px);
}
.rasm12 {
  width: 1000px;
}
.divcha12 {
  width: 1000px;
  height: 200px;
  border: 1px solid rgb(125, 125, 125);
  margin-top: 120px;
  margin-left: 840px;
  border-radius: 30px;
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.h131 {
  color: var(--white, #000000);
  font-family: monospace;
  font-size: 20px;
  font-style: normal;
  transition-duration: 0.5s;
  font-weight: 300;
  line-height: 145%;
  text-align: center;
  text-decoration: none;
}
.tugma2 {
  width: 150px;
  height: 40px;
  border: 2px solid black;
  border-radius: 30px;
  color: var(--white, #747474);
  font-family: monospace;
  font-size: 25px;
  font-style: normal;
  transition-duration: 0.5s;
  font-weight: 300;
  line-height: 145%;
  text-align: center;
}
.rasm13 {
  width: 40px;
  border-radius: 50%;
}
.rasm14 {
  width: 120px;
  height: 150px;
  margin: auto;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 20px;
}
.divcha13 {
  padding: 20px;
  width: 1000px;
  border: 1px solid rgb(114, 114, 114);
  margin-top: 20px;
  margin-left: 340px;
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
}
.kichikdiv7 {
  width: 250px;
  height: 400px;
  padding: 10px;
  border: 2px solid rgb(0, 0, 0);
  backdrop-filter: blur(10px);
  display: grid;
  align-items: center;
  justify-content: center;
}
.h132 {
  color: var(--white, #000000);
  font-family: monospace;
  font-size: 25px;
  font-style: normal;
  transition-duration: 0.5s;
  font-weight: 300;
  line-height: 145%;
  text-align: center;
}
.h133 {
  color: var(--white, #000000);
  font-family: monospace;
  font-size: 20px;
  font-style: normal;
  transition-duration: 0.5s;
  font-weight: 300;
  line-height: 145%;
  text-align: center;
}
.divcha05 {
  width: 1439.8px;
  height: 1600px;
  border: 0.1px solid rgb(166, 166, 166);
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: 1px 1px 3px 3px rgb(171, 171, 171);
  align-items: center;
  margin-top: 40px;
  justify-content: center;
}
.k5 {
  margin-left: 50px;
}
.h012 {
  color: var(--white, #000000);
  font-family: monospace;
  font-size: 30px;
  width: 1000px;
  margin-bottom: 150px;
  margin-right: 100px;
  font-style: normal;
  border: 2px solid rgb(255, 255, 255);
  font-weight: 300;
  line-height: 145%;
  text-align: center;
  padding: 10px;
  backdrop-filter: blur(10px);
  border-radius: 20px;
}
.divcha14 {
  width: 1000px;
  border: 2px solid black;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
  margin-left: 340px;
}
.kichikdiv8 {
  width: 200px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 20px;
  display: grid;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
  padding: 10px;
  transition-duration: 0.5s;
  gap: 20px;
  height: 420px;
}
.rasm16 {
  width: 150px;
  height: 180px;
  border-radius: 20px;
  margin: auto;
  transition-duration: 0.5s;
  border: 2px solid rgb(0, 0, 0);
}
.h134 {
  color: var(--white, #000000);
  font-family: monospace;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  transition-duration: 0.5s;
  line-height: 145%;
  text-align: center;
}
.h135 {
  color: var(--white, #000000);
  font-family: monospace;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 145%;
  transition-duration: 0.5s;
  text-align: center;
}
:hover.kichikdiv8 {
  transition-duration: 0.5s;
  border: 2px solid rgb(255, 255, 255);
  .rasm16 {
    transition-duration: 0.5s;
    box-shadow: 0px 0px 10px 10px rgb(255, 255, 255);
  }
  .h134 {
    transition-duration: 0.5s;
    color: black;
  }
  .h135 {
    transition-duration: 0.5s;
    color: black;
  }
}
.divcha15 {
  width: 1000px;
  border: 2px solid;
  padding: 20px;
  margin-top: 20px;
  margin-left: 340px;
  backdrop-filter: blur(10px);
  border-radius: 20px;
}
.h136 {
  color: var(--white, #000000);
  font-family: monospace;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 145%;
  text-align: center;
}
.h137 {
  color: var(--white, #000000);
  font-family: monospace;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 145%;
  text-align: center;
  margin-top: 30px;
}
.divcha16 {
  width: 1000px;
  border: 1px solid rgb(125, 125, 125);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  margin-top: 20px;
  margin-left: 340px;
  padding: 20px;
}
.h138 {
  color: var(--white, #000000);
  font-family: monospace;
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  line-height: 145%;
  text-align: center;
}
.h139 {
  color: var(--white, #000000);
  font-family: monospace;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 145%;
  text-align: center;
}
.divcha17 {
  width: 1000px;
  border-radius: 20px;
  padding: 20px;
  margin-top: 20px;
  margin-left: 340px;
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border: 2px solid black;
}
.h140 {
  color: var(--white, #000000);
  font-family: monospace;
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  line-height: 145%;
  text-align: center;
}
.divcha18 {
  width: 900px;
  border-radius: 20px;
  padding: 20px;
  border: 2px solid black;
  display: flex;
  backdrop-filter: blur(10px);
  align-items: center;
  justify-content: space-around;
}
.divcha19 {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.fleks2 {
  display: flex;
}
.h0121 {
  display: none;
}
.h00123 {
  display: none;
}
.rasm8 {
  width: 50px;
  margin-right: 10px;
  display: none;
}
.form2 {
  width: 700px;
  gap: 30px;
  display: none;
  align-items: center;
  justify-content: center;
}
.fleks3 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}
.h141 {
  color: var(--white, #000000);
  font-family: monospace;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 145%;
  text-align: center;
}
.divcha20 {
  margin-top: 20px;
  margin-left: 20px;
}
.kichikdiv9 {
  width: 700px;
  border-radius: 20px;
  height: 100px;
  border: 2px solid black;
  display: grid;
  align-items: center;
  justify-content: center;
  margin-left: 500px;
  backdrop-filter: blur(10px);
}
.divcha21 {
  width: 1000px;
  height: 630px;
  margin-top: 20px;
  margin-left: 365px;
  display: grid;
  align-items: center;
  position: relative;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 4px;
}
.kichikdiv10 {
  width: 100px;
  height: 100px;
}
.kichikdiv11 {
  width: 310px;
  height: 616px;
  position: absolute;
  margin-left: 375px;
}
.svg3 {
  width: 310px;
  position: absolute;
  height: 620px;
  z-index: 1;
}
.svg4 {
  width: 300px;
  position: absolute;
  height: 605px;
  z-index: 2;
  margin-top: 5px;
  margin-left: 5px;
}
.svg5 {
  width: 290px;
  position: absolute;
  height: 585px;
  z-index: 2;
  margin-top: 15px;
  margin-left: 10px;
}
.rasm15 {
  position: absolute;
  z-index: 3;
  left: 28px;
  top: 14px;
}
.form3 {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  margin-top: 80px;
}
.input1 {
  width: 190px;
  height: 20px;
  padding: 10px;
  z-index: 40;
  border: 1px solid #454545;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white, #454545);
  font-family: monospace;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 145%;
}
.divvid1 {
  background-image: url(./img/notfound.png);
  background-position: center;
}
.divvid2 {
  min-height: 700px;
  gap: 40px;
  display: grid;
}
.animate__animated {
  color: rgb(101, 101, 101);
  margin-left: 360px;
}
.h142 {
  color: var(--white, #6c6c6c);
  font-family: monospace;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 145%;
  z-index: 4;
  text-align: center;
}
.tugma3 {
  width: 180px;
  height: 40px;
  border: 1px solid #6c6c6c;
  color: var(--white, #6c6c6c);
  font-family: monospace;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 145%;
  margin-left: 15px;
  margin-top: 20px;
  z-index: 4;
}
:hover.kichikdiv10 {
  background-color: rgb(215, 215, 215);
}
.divcha005 {
  width: 1000px;
  border: 2px solid black;
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.rasm17 {
  width: 300px;
  border-radius: 20px;
  border: 2px solid white;
  margin: auto;
}
.divcha22 {
  width: 1000px;
  padding: 10px;
  border: 2px solid black;
  margin-top: 20px;
  margin-left: 340px;
  border-radius: 20px;
  display: grid;
  backdrop-filter: blur(10px);
  align-items: center;
  gap: 20px;
  justify-content: center;
}
.notification1 {
  width: 300px;
  height: 60px;
  border: 4px solid green;
  background-color: #00ff00;
  display: none;
  position: absolute;
  align-items: center;
  justify-content: center;
  z-index: 11;
  transition-duration: 1.5s;
}
.notification2 {
  height: 60px;
  border: 4px solid rgb(168, 3, 3);
  background-color: rgb(255, 0, 0);
  display: none;
  align-items: center;
  justify-content: center;
  transition-duration: 1.5s;
  position: absolute;
  z-index: 11;
  margin-right: 120px;
}
.h143 {
  color: var(--white, green);
  font-family: monospace;
  font-size: 15px;
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  transition-duration: 2s;
}
.h0143 {
  color: var(--white, rgb(148, 3, 3));
}
.rasm18 {
  width: 20px;
}
.xato {
  color: black;
  font-size: 20px;
  z-index: 10;
}
.divcha23 {
  width: 1000px;
  min-height: 680px;
  border: 2px solid black;
  margin-left: 78px;
  margin-top: 20px;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}
.box {
  width: 200px;
  border: 2px solid white;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  display: grid;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-left: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 20px;
}
.img {
  width: 150px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
  margin: auto;
  margin-top: 10px;
}
.nom {
  color: var(--white, rgb(255, 255, 255));
  font-family: monospace;
  font-size: 15px;
  font-style: normal;
}
.kun {
  color: var(--white, rgb(255, 255, 255));
  font-family: monospace;
  font-size: 15px;
  font-style: normal;
}
.btns {
  width: 260px;
  height: 100px;
  margin-left: 20px;
  margin-top: 600px;
  border: 2px solid black;
  display: grid;
  align-items: center;
  backdrop-filter: blur(10px);
  justify-content: center;
  grid-template-columns: 1fr 1fr;
}
.tugmaaaa1 {
  width: 100px;
  height: 40px;
  margin-left: 15px;
  color: var(--white, rgb(0, 0, 0));
  font-family: monospace;
  font-size: 15px;
  background-color: white;
  font-style: normal;
  border: 2px solid black;
  border-radius: 10px;
}
.group {
  width: 1910px;
  display: grid;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgb(145, 197, 213);
}
.burger {
  display: none;
}
.urovchi1 {
  display: flex;
  gap: 30px;
}
.navbar11 {
  display: none;
  width: 310px;
  height: 500px;
  position: absolute;
  z-index: 100;
  align-items: center;
  justify-content: center;
  list-style: none;
  border: 0.1px solid black;
  background-color: rgb(145, 197, 213);
}
.navbar111 {
  display: grid;
  width: 310px;
  height: 500px;
  position: absolute;
  z-index: 100;
  align-items: center;
  justify-content: center;
  list-style: none;
  border: 0.1px solid black;
  background-color: rgb(145, 197, 213);
}
.navbar22 {
  width: 275px;
  height: 500px;
  display: none;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  overflow-y: scroll;
  z-index: 10;
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 140px;
  }
}
.li1 {
  backdrop-filter: blur(10px);
}
.li2 {
  backdrop-filter: blur(10px);
}
.li3 {
  backdrop-filter: blur(10px);
}
.li4 {
  backdrop-filter: blur(10px);
}
.li5 {
  backdrop-filter: blur(10px);
}
.li6 {
  backdrop-filter: blur(10px);
}
.li7 {
  backdrop-filter: blur(10px);
}
.li8 {
  backdrop-filter: blur(10px);
}
.li11 {
  backdrop-filter: blur(10px);
}
@media (max-width: 1920px) {
  .navbar2 {
    margin-left: 20px;
  }
  .karta1 {
    margin-left: 300px;
  }
}
@media (max-width: 1440px) {
  .navbar2 {
    margin-left: 20px;
  }
  .divvid1 {
    background-size: 1440px;
  }
  .kattadiv {
    width: 1440px;
  }
  .group {
    width: 1440px;
  }
  .div1 {
    width: 1440px;
  }
  .divcha2 {
    margin-left: 340px;
  }
  .div2 {
    width: 1440px;
  }
  .div3 {
    width: 1440px;
  }
  .div4 {
    width: 1440px;
  }
  .div5 {
    width: 1440px;
  }
  .divcha5 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .div6 {
    width: 1440px;
  }
  .div31 {
    width: 1440px;
  }
  .fleks {
    margin-right: 20px;
  }
  .div7 {
    width: 1440px;
  }
  .divcha8 {
    width: 1400px;
  }
  .ul2 {
    width: 400px;
  }
  .div8 {
    width: 1440px;
  }
  .div01 {
    width: 1440px;
  }
  .divcha12 {
    margin-left: 340px;
  }
}
@media (max-width: 1366px) {
  .kattadiv {
    width: 1366px;
  }
  .div1 {
    width: 1366px;
  }
  .divcha2 {
    margin-left: 260px;
  }
  .group {
    width: 1366px;
  }
  .navbar1 {
    width: 1326px;
  }
  .h11 {
    width: 200px;
  }
  .div2 {
    width: 1366px;
  }
  .div3 {
    width: 1366px;
  }
  .div4 {
    width: 1366px;
  }
  .div5 {
    width: 1366px;
  }
  .div6 {
    width: 1366px;
  }
  .group1 {
    width: 1326px;
  }
  .div31 {
    width: 1366px;
  }
  .div7 {
    width: 1366px;
  }
  .divcha8 {
    width: 1326px;
  }
  .div01 {
    width: 1366px;
  }
  .divcha21 {
    margin-left: 320px;
  }
  .divcha14 {
    margin-left: 305px;
  }
  .divcha9 {
    width: 900px;
    margin-left: 380px;
  }
  .divcha11 {
    width: 900px;
    margin-left: 380px;
  }
  .rasm12 {
    width: 900px;
  }
  .divcha13 {
    margin-left: 305px;
  }
  .divcha05 {
    width: 1366px;
  }
  .h012 {
    width: 900px;
  }
  .divcha15 {
    width: 900px;
    margin-left: 400px;
  }
  .divcha16 {
    width: 900px;
    margin-left: 400px;
  }
  .divcha23 {
    margin-left: 60px;
    width: 1000px;
  }
  .divcha19 {
    width: 1300px;
  }
  .divcha17 {
    width: 940px;
    margin-left: 370px;
  }
  .divcha20 {
    margin-left: 0px;
  }
}
@media (max-width: 768px) {
  .kattadiv {
    width: 768px;
  }
  ::-webkit-scrollbar {
    width: 4px;
  }
  .grs{
    margin-right: 0px;
  }
  .grs1{
    margin-left: 0px;
  }
  ::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255);
    border-radius: 140px;
  }
  .navbar1 {
    width: 728px;
  }
  .div1 {
    width: 766px;
    display: grid;
  }
  .divvid2 {
    height: 1200px;
  }
  .divvid1{
    height: 200px;
    background-size: 768px;
    background-repeat: no-repeat;
  }
  .group {
    width: 766px;
  }
  .burger {
    display: grid;
    margin-right: 10px;
  }

  .h12 {
    margin-top: 100px;
    margin-left: 300px;
    min-height: 450px;
  }
  .divcha19 {
    margin-top: 600px;
  }
  .h012 {
    margin-top: 600px;
  }
  .divcha2 {
    width: 700px;
    height: 200px;
    gap: 20px;
    margin-left: 34px;
    display: flex;
  }
  .div2 {
    width: 766px;
    display: grid;
  }
  .h15 {
    width: 700px;
  }
  .div3 {
    width: 766px;
    height: 700px;
    display: grid;
  }
  .grids {
    display: flex;
    display: flex;
    gap: 50px;
    width: 600px;
  }
  .divcha31 {
    margin-left: 0px;
  }
  .divcha32 {
    margin-left: 0px;
  }
  .divcha5 {
    display: grid;
    grid-template-columns: 1fr;
  }
  .divcha33 {
    margin-right: 0px;
  }
  .div4 {
    width: 766px;
    height: 1200px;
    display: grid;
  }
  .h19 {
    margin-left: 30px;
  }
  .kch4 {
    margin-left: 0px;
  }
  .divcha4 {
    margin: auto;
  }
  .group1 {
    width: 728px;
    display: grid;
  }
  .h00121 {
    display: none;
  }
  .h0121 {
    display: grid;
    margin-top: 30px;
  }
  .div5 {
    width: 766px;
  }
  .svg2 {
    display: none;
  }
  .h0123 {
    display: none;
  }
  .h00123 {
    display: grid;
  }
  .h123 {
    margin-left: 0px;
  }
  .div6 {
    width: 766px;
    display: grid;
  }
  .dch6 {
    margin-left: 0px;
  }
  .dch61 {
    margin-left: 0px;
  }
  .h125 {
    margin: auto;
  }
  .div31 {
    width: 766px;
    height: 1000px;
    display: grid;
    gap: 0px;
  }
  .karta1 {
    margin-top: 28px;
    width: 420px;
    height: 500px;
  }
  .div7 {
    width: 766px;
    height: 1700px;
    display: grid;
  }
  .divcha7 {
    margin-bottom: 60px;
    display: grid;
    margin-left: 20px;
  }
  .ul2 {
    width: 728px;
    grid-template-columns: 0.5fr 0.5fr;
    margin: auto;
    margin-left: 0px;
  }
  .li9 {
    margin-left: 10px;
  }
  .li10 {
    margin-left: 10px;
  }
  .divcha100 {
    margin-left: 180px;
    border-radius: 20px;
  }
  .divcha8 {
    width: 728px;
    margin-left: 10px;
  }
  .h124 {
    margin-left: 20px;
  }
  .urovchi1 {
    display: none;
  }
  .rasm7 {
    margin-right: 20px;
  }
  .h12 {
    width: 400px;
  }
  .div01 {
    width: 766px;
    display: grid;
  }
  .divcha14 {
    width: 680px;
    margin-top: 600px;
    margin-left: 20px;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr;
  }
  .divcha9 {
    width: 660px;
    margin-left: 20px;
    margin-top: 600px;
  }
  .h012 {
    width: 700px;
    margin-left: 20px;
  }
  .divcha11 {
    margin-top: 600px;
    margin-left: 20px;
    width: 700px;
  }
  .rasm12 {
    width: 700px;
  }
  .divcha20 {
    margin-top: 600px;
  }
  .divcha15 {
    width: 680px;
    margin-left: 20px;
    margin-top: 600px;
  }
  .divcha10 {
    width: 760px;
    margin-left: 0px;
    display: grid;
    margin-top: 600px;
    grid-template-columns: 0.5fr 0.5fr;
  }
  .div8 {
    width: 766px;
    height: 850px;
  }
  .form1 {
    display: none;
  }
  .form2 {
    display: grid;
  }
  .grid5 {
    margin: auto;
  }
  .div001 {
    display: flex;
  }
  .divcha12 {
    width: 400px;
    height: 300px;
    margin-top: 100px;
    margin-left: 330px;
    display: grid;
    align-items: center;
    justify-content: center;
  }
  .divcha16 {
    width: 680px;
    margin-left: 20px;
    margin-top: 600px;
  }
  .divcha13 {
    width: 680px;
    display: grid;
    margin-top: 600px;
    margin-left: 20px;
    grid-template-columns: 0.5fr 0.5fr;
  }
  .divcha05 {
    width: 766px;
    display: grid;
    align-items: center;
    justify-content: center;
    height: 2400px;
    grid-template-columns: 1fr;
  }
  .k5 {
    margin-left: 0px;
  }
  .kichikdiv5 {
    margin: auto;
  }
  .divcha17 {
    width: 680px;
    margin-left: 20px;
  }
  .divcha18 {
    width: 640px;
    display: flex;
    gap: 20px;
  }
  .dch17 {
    margin-left: 20px;
  }
  .kichikdiv9 {
    margin-left: 10px;
  }
  .dch1717 {
    margin-top: 600px;
  }
  .dch5 {
    margin-top: 30px;
  }
  .divcha21 {
    width: 726px;
    height: 700px;
    display: grid;
    margin-left: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .kichikdiv11 {
    margin-left: 330px;
  }
  .dd01 {
    display: flex;
  }
  #kch10 {
    display: none;
  }
  .divcha22 {
    width: 708px;
    margin-left: 20px;
  }
  .divcha23 {
    width: 710px;
    margin-left: 20px;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .btns {
    margin-left: 300px;
    margin-top: 420px;
  }
  .box {
    margin-left: 12px;
  }
}
@media (max-width: 425px) {
  .divvid1{
    height: 40px;
    background-size: 425px;
  }
  .navbar22 {
    display: grid;
  }
  .kattadiv {
    width: 425px;
  }
  .divcha21 {
    width: 425px;
    margin-left: 0px;
  }
  ::-webkit-scrollbar {
    width: 2px;
  }
  .navbar11 {
    height: 1000px;
  }
  .navbar1 {
    width: 385px;
    height: 60px;
  }
  .divcha1 {
    width: 200px;
  }
  .rasm1 {
    width: 40px;
  }
  .h10 {
    font-size: 12px;
  }
  .div01 {
    width: 423px;
  }
  .navbar2 {
    display: none;
  }
  .divcha13 {
    width: 340px;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr;
  }
  .div31 {
    width: 423px;
  }
  .group {
    width: 425px;
  }
  .group1 {
    width: 365px;
    height: 680px;
  }
  .h17 {
    font-size: 10px;
    width: 380px;
  }
  .kichikdiv7 {
    margin: auto;
  }
  .divcha05 {
    width: 423px;
    height: 2600px;
  }
  .kichikdiv5 {
    width: 365px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .karta1 {
    width: 380px;
    margin-left: 0px;
  }
  .h12 {
    margin-left: 20px;
  }
  .h122 {
    margin-left: 0px;
    font-size: 12px;
    width: 200px;
  }
  .div6 {
    width: 425px;
    height: 700px;
  }
  .grids {
    display: grid;
    width: 385px;
  }
  .gr1 {
    display: flex;
  }
  .h125 {
    width: 365px;
  }
  .rasm5 {
    margin-left: 0px;
  }
  .div7 {
    width: 425px;
    height: 2600px;
  }
  .divcha100 {
    width: 365px;
    margin-left: 0px;
    margin-top: 0px;
  }
  .ul2 {
    display: grid;
    grid-template-columns: 1fr;
    width: 365px;
  }
  .divcha8 {
    width: 385px;
    height: 400px;
    display: grid;
    align-items: center;
    margin-left: 0px;
    justify-content: center;
  }
  .h124 {
    font-size: 14px;
    text-align: center;
  }
  .h0124 {
    margin: auto;
    margin-top: 20px;
    width: 200px;
  }
  .h121 {
    width: 380px;
    font-weight: bold;
  }
  .div4 {
    width: 423px;
    display: grid;
    align-items: center;
    justify-content: center;
  }
  .div2 {
    width: 423px;
  }
  .video1 {
    width: 400px;
    height: 225px;
    border: 5px solid rgb(101, 101, 101);
    margin-left: 10px;
  }
  .h14 {
    width: 400px;
    margin-left: 10px;
    font-size: 20px;
  }
  .divcha2 {
    display: none;
  }
  .h15 {
    width: 400px;
    font-size: 15px;
    margin-left: 10px;
  }
  .rasm7 {
    margin: auto;
  }
  .h19 {
    width: 400px;
    margin-left: 10px;
  }
  .gr1 {
    width: 400px;
    margin-left: 10px;
    display: flex;
  }
  .div3 {
    width: 423px;
    height: 1100px;
  }
  .div5 {
    height: 1300px;
    width: 423px;
  }
  .h00123 {
    width: 365px;
  }
  .divcha16 {
    width: 340px;
  }
  .div1 {
    width: 423px;
  }
  .divcha12 {
    width: 380px;
    margin-left: 20px;
  }
  .div8 {
    width: 423px;
    height: 1300px;
  }
  .fleks3 {
    display: grid;
  }
  .form2 {
    width: 300px;
  }
  .divcha10 {
    width: 365px;
    display: grid;
    grid-template-columns: 1fr;
  }
  .kichikdiv6 {
    margin: auto;
  }
  .divcha15 {
    width: 340px;
  }
  .divcha11 {
    width: 365px;
  }
  .rasm12 {
    width: 360px;
  }
  .h012 {
    width: 360px;
  }
  .divcha9 {
    width: 320px;
    margin-top: 20px;
  }
  .h127 {
    font-size: 16px;
  }
  .divcha14 {
    width: 340px;
    display: grid;
    grid-template-columns: 1fr;
  }
  .kichikdiv8 {
    margin: auto;
  }
  .divcha17 {
    width: 340px;
  }
  .divcha18 {
    width: 300px;
    display: grid;
    align-items: center;
    justify-content: center;
  }
  .tugma2 {
    margin: auto;
  }
  .rasm13 {
    margin: auto;
  }
  .kichikdiv9 {
    width: 380px;
    margin-left: 0px;
  }
  .kichikdiv10 {
    display: none;
  }
  .kichikdiv11 {
    margin-left: 55px;
  }
  .divcha22 {
    width: 365px;
  }
  .divcha23 {
    width: 365px;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr;
    margin-top: 140px;
  }
  .box {
    width: 338px;
  }
  .img {
    width: 300px;
  }
  .btns {
    width: 365px;
    margin-top: 20px;
    margin-left: 20px;
    display: grid;
    align-items: center;
    justify-content: center;
  }
  .tugmaaaa1 {
    width: 160px;
    margin-left: 10px;
  }
}
